group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Suave
  nuget Fable.Remoting.Suave ~> 2.0

  clitool Microsoft.DotNet.Watcher.Tools

group Client
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fable.Remoting.Client ~> 2.0
  nuget Fulma 1.0.0-beta-007

  clitool dotnet-fable

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE